################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RocketLanding.Business/obj
/RocketLanding.Business/bin/Debug/netcoreapp3.1
/RocketLanding.Test/obj
/RocketLanding.Test/bin/Debug/netcoreapp3.1
